node_modules
.DS_Store
*.local
thumbs.db
package-lock.json
/vetur.config.js
docs
/scripts
/.gitignore
/.github
/electron-vue-next/dist
/electron-vue-next/build
!/electron-vue-next/build/icons
electron-vue-next/extensions